* {
  /*  border: solid 1px black; */
  margin: 0;
  padding 0;
}

body {
  display: flex;
  flex-direction: column;
  /*  height: 100vh; */
}

header {
  display: flex;
  background-color: white;
  height: 80px;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: solid 3px gray;
  flex: 1 0 auto;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

.header-logo {
  flex: 1 0 auto;
  padding-left: 40px;
  display: flex;
  align-items: center;
  color: MediumAquamarine;
}

.header-nav {
  padding-right: 20px;
}

.header-nav span {
  padding: 0 20px;
}

a {
  color: black;
}

.header-logo img {
  margin-right: 12px;
}

main {
  top: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  padding-left: 32px;
}

.large {
  width: 630px;
}

.medium {
  width: 300px;
}

.small {
  width: 240px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

#main-headline {
  background-image: url("../images/img-story-main.png");
  width: inherit;
}

#main-headline h1 {
  font-size: 40px;
  padding-left: 15px;
  color: white;
}

.column h2 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: black;
}

.stories-container {
  display: flex;
  justify-content: space-between;
}

#article-1 {
  background-image: url("../images/img-story-2.png");
}

#article-2 {
  background-image: url("../images/img-story-3.png");
}

#article-3 {
  background-image: url("../images/img-story-1.png");
}

#news-bite {
  background-image: url("../images/img-news-bite.png");
  height: 240px;
}

.img {
  height: 300px;
  display: flex;
  align-items: center;
}

#article-1 h2,
#article-2 h2,
#article-3 h2 {
  text-align: center;
  color: white;
}

.story {
  justify-content: space-between;
  width: 300px;
}

p {
  padding: 20px 0px;
}

.news-bite {
  margin-top: 40px;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  display: flex;
  flex-direction: column;
}

.bite {
  padding: 20px;
  border-bottom: solid 1px black;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  position: relative;
  margin-top: 160px;
  padding: 80px 0;
  width: 100%;
}

.footer-brand {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: solid 3px white;
  margin-right: 10px;
}

footer span {
    padding: 0 15px;
}

#copyright {
  padding: 15px;
}
